@font-face {
    font-family:'arzhu';
    src:url('https://cdn.jsdelivr.net/gh/yx-dimples/images/font/方正字迹-侃夫体行楷%20简.TTF'); /* 修改成你的字体 */
    font-display:swap
}
h1#site-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}

svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
